{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 6,
          "firefox": "20",
          "chrome": "10",
          "safari": "11.1",
          "esmodules": false
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
