.link {
  stroke: #aaa;
}

.node text {
  stroke: #333;
  cursor: pointer;
}

.node circle {
  stroke: #fff;
  stroke-width: 3px;
  fill: #555;
}

.home {
  display: flex;
  justify-content: center;
}

.draw-flow-section {
  border-style: solid;
  border-width: 1px;
}

svg {
  width: 53vw;
  height: 90vh;
}

.flows-editor-section {
  border-style: solid;
  border-width: 1px;
}
